apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: minashahir/todo-list-nodejs:1.0
          imagePullPolicy: Always

          ports:
            - containerPort: 4000

          env:
            - name: PORT
              value: "4000"
            - name: mongoDbUrl
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: mongoDbUrl

          readinessProbe:
            httpGet:
              path: /
              port: 4000
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /
              port: 4000
            initialDelaySeconds: 30
            periodSeconds: 10

